<!-- Modal -->
<div class="modal fade" id="deleteModal{{ media.id }}" tabindex="-1" aria-labelledby="deleteModal{{ media.id }}Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModal{{ media.id }}Label">Delete video for
					{{ trick.name }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				You are about to delete the media :
				{{ media.id }}
				this can't be reversed
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<form
					action="{{ path('media_delete', {'id': media.id}) }}" method="post" id="delete-media">
					{# the argument of csrf_token() is an arbitrary string used to generate the token #}
					<input type="hidden" name="token" value="{{ csrf_token('delete-media') }}"/>

					<button type="submit" class="btn btn-danger" for="delete-media">
						<i class="fas fa-trash"></i>
						Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>
