<!-- Modal -->
<div class="modal fade" id="deleteModal{{ trick.id }}" tabindex="-1" aria-labelledby="deleteModal{{ trick.id }}Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModal{{ trick.id }}Label">Delete
					{{ trick.name }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				You are about to delete the trick :
				{{ trick.name }}
				this can't be reversed
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<form
					action="{{ path('trick_delete', {'id': trick.id}) }}" method="post" id="delete-trick">
					{# the argument of csrf_token() is an arbitrary string used to generate the token #}
					<input type="hidden" name="token" value="{{ csrf_token('delete-trick') }}"/>

					<button type="submit" class="btn btn-danger" for="delete-trick">
						<i class="fas fa-trash"></i>
						Delete</button>
				</form>

			</div>
		</div>
	</div>
</div>
